<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
<header style="margin-top: auto; display: flex; align-items: center; justify-content: space-between; height: 63px; background-color: black;">
    <h1 style="color:  aliceblue; margin-left: 5%;">My Site</h1>
    <title >{% block title %}{% endblock %}</title>
    <nav style="color: aliceblue;">
        <button style="color: rgb(0, 0, 0); margin-right: 10%; display: flex;">
            <a href="{% url 'index' %}">MAIN</a>
        </button>

    </nav>
</header>
</head>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>

